@model Category

<form method="post">
    <div>
        @*<input asp-for="ID" hidden />  if instead of 'id', the name was 'category id' we should put this,
            because if not the id will not be assignd to the mdoel and the id will be zero*@
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
        </div>    
        <div class="mb-3 row">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" disabled class="form-control" />
            
        </div>
        <div class="mb-3 row">
            <label asp-for="DisplayOrder" class="p-0"></label>
            <input asp-for="DisplayOrder" disabled class="form-control" />    
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>

